DEBUG=True
SECRET_KEY =

DATABASE_URL=


EMAIL_BACKEND =   # Используем SMTP
EMAIL_HOST =  # Замените на ваш SMTP сервер (например, smtp.gmail.com для Gmail)
EMAIL_PORT =
EMAIL_USE_TLS =   # Использовать TLS
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =  # Ваш пароль от электронной почты
DEFAULT_FROM_EMAIL =   # Адрес, с которого будут отправляться письма