<nav class="d-flex align-items-center w-100" style="padding-left: 3rem;">
    <div class="d-flex w-100">
        <!-- Main navigation links (left-aligned) -->
        <a class="p-2 btn btn-custom me-2" href="{% url 'subscriptions:main' %}">Главная</a>
        <a class="p-2 btn btn-custom me-2" href="{% url 'subscriptions:contacts' %}">Контакты</a>
        <a class="p-2 btn btn-custom me-2" href="{% url 'subscriptions:prices' %}">Тарифы</a>
        {% if user.is_authenticated %}
            <a class="p-2 btn btn-custom me-2" href="{% url 'subscriptions:subscribers_list' %}">Подписчики</a>
            <a class="p-2 btn btn-custom me-2" href="{% url 'subscriptions:messages_list' %}">Сообщения</a>
            <a class="p-2 btn btn-custom me-2" href="{% url 'subscriptions:mailing_list' %}">Рассылки</a>
        {% endif %}

        <!-- Authentication items (right-aligned) -->
        <div class="ms-auto d-flex align-items-center">
            {% if user.is_authenticated %}
                <span class="navbar-text me-2">Вы вошли как: {{ user.email }}!</span>
                <a class="p-2 btn btn-custom me-2" href="{% url 'account_logout' %}">Выйти</a>
            {% else %}
                <a class="p-2 btn btn-custom me-2" href="{% url 'account_login' %}">Войти</a>
                <a class="p-2 btn btn-custom me-2" href="{% url 'account_signup' %}">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>

