{% extends "subscriptions/base.html" %}

{% block title %}Тарифы - Обояшки{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Выбирай свой тариф</h1>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm" >
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">ПРОБНЫЙ</h5>
                <p class="card-text flex-grow-1">Первые пять рассылок Вы можете сделать бесплатно! </p>
                <p class="card-text text-center"><strong>Цена: </strong>0 ₽</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm" >
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">ЭКОНОМ</h5>
                <p class="card-text flex-grow-1">99 подписчиков, 10 рассылок в месяц </p>
                <p class="card-text text-center"><strong>Цена: </strong>200 ₽</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}