<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список подписчиков</title>
</head>
<body>
    <h1>Список подписчиков</h1>
    <a href="{% url 'subscriptions:create_subscriber' %}">Добавить подписчика</a>
    <ul>
        {% for subscriber in subscribers %}
            <li>
                {{ subscriber.full_name }} ({{ subscriber.email }})
                <a href="{% url 'subscriptions:update_subscriber' subscriber.pk %}">Редактировать</a>
                <a href="{% url 'subscriptions:delete_subscriber' subscriber.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>